In [1]:
import pandas as pd

In [10]:
dataPath = './DataSets/breast-cancer-wisconsin.data.txt'
columns = ['id', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9', 'output']
features = ['x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9']
df = pd.read_csv(dataPath, names=columns)

In [11]:
df['output'] = df['output'].apply(lambda x : 1 if x == 2 else -1)

          id  x1  x2  x3  x4  x5  x6  x7  x8  x9  output
0    1000025   5   1   1   1   2   1   3   1   1       1
1    1002945   5   4   4   5   7  10   3   2   1       1
2    1015425   3   1   1   1   2   2   3   1   1       1
3    1016277   6   8   8   1   3   4   3   7   1       1
4    1017023   4   1   1   3   2   1   3   1   1       1
5    1017122   8  10  10   8   7  10   9   7   1      -1
6    1018099   1   1   1   1   2  10   3   1   1       1
7    1018561   2   1   2   1   2   1   3   1   1       1
8    1033078   2   1   1   1   2   1   1   1   5       1
9    1033078   4   2   1   1   2   1   2   1   1       1
10   1035283   1   1   1   1   1   1   3   1   1       1
11   1036172   2   1   1   1   2   1   2   1   1       1
12   1041801   5   3   3   3   2   3   4   4   1      -1
13   1043999   1   1   1   1   2   3   3   1   1       1
14   1044572   8   7   5  10   7   9   5   5   4      -1
15   1047630   7   4   6   4   6   1   4   3   1      -1
16   1048672   4   1   1   1   2   1   2   1   1       1
17   1049815   4   1   1   1   2   1   3   1   1       1
18   1050670  10   7   7   6   4  10   4   1   2      -1
19   1050718   6   1   1   1   2   1   3   1   1       1
20   1054590   7   3   2  10   5  10   5   4   4      -1
21   1054593  10   5   5   3   6   7   7  10   1      -1
22   1056784   3   1   1   1   2   1   2   1   1       1
23   1057013   8   4   5   1   2   ?   7   3   1      -1
24   1059552   1   1   1   1   2   1   3   1   1       1
25   1065726   5   2   3   4   2   7   3   6   1      -1
26   1066373   3   2   1   1   1   1   2   1   1       1
27   1066979   5   1   1   1   2   1   2   1   1       1
28   1067444   2   1   1   1   2   1   2   1   1       1
29   1070935   1   1   3   1   2   1   1   1   1       1
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..     ...
669  1350423   5  10  10   8   5   5   7  10   1      -1
670  1352848   3  10   7   8   5   8   7   4   1      -1
671  1353092   3   2   1   2   2   1   3   1   1       1
672  1354840   2   1   1   1   2   1   3   1   1       1
673  1354840   5   3   2   1   3   1   1   1   1       1
674  1355260   1   1   1   1   2   1   2   1   1       1
675  1365075   4   1   4   1   2   1   1   1   1       1
676  1365328   1   1   2   1   2   1   2   1   1       1
677  1368267   5   1   1   1   2   1   1   1   1       1
678  1368273   1   1   1   1   2   1   1   1   1       1
679  1368882   2   1   1   1   2   1   1   1   1       1
680  1369821  10  10  10  10   5  10  10  10   7      -1
681  1371026   5  10  10  10   4  10   5   6   3      -1
682  1371920   5   1   1   1   2   1   3   2   1       1
683   466906   1   1   1   1   2   1   1   1   1       1
684   466906   1   1   1   1   2   1   1   1   1       1
685   534555   1   1   1   1   2   1   1   1   1       1
686   536708   1   1   1   1   2   1   1   1   1       1
687   566346   3   1   1   1   2   1   2   3   1       1
688   603148   4   1   1   1   2   1   1   1   1       1
689   654546   1   1   1   1   2   1   1   1   8       1
690   654546   1   1   1   3   2   1   1   1   1       1
691   695091   5  10  10   5   4   5   4   4   1      -1
692   714039   3   1   1   1   2   1   1   1   1       1
693   763235   3   1   1   1   2   1   2   1   2       1
694   776715   3   1   1   1   3   2   1   1   1       1
695   841769   2   1   1   1   2   1   1   1   1       1
696   888820   5  10  10   3   7   3   8  10   2      -1
697   897471   4   8   6   4   3   4  10   6   1      -1
698   897471   4   8   8   5   4   5  10   4   1      -1

[699 rows x 11 columns]

In [ ]:

class NaiveBayes:
    
    def __init__(self, X, Y):
        self.X = X
        self.Y = Y
    
    def priors(self):